
@{
    ViewData["Title"] = "ProceedActions";
}

<h2>Thank You for ordering the product from our Website</h2>

<h2>Dear Customer, It was an honor to help you with your recent Product purchase. I hope your [make/model of Prodcuct purchased] is proving a nice choice for you. You were a pleasure to work with.</h2>


